.navbar-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid black ;
    .right{
        display:flex;
        justify-content: space-evenly;
        gap: 24px;
    }
    .left{
        display: flex;
        font-size: x-large;
        color: red;
    }
}
