<!-- <div class="row">
    <div class="col-md-12">
        <button></button>
    </div>
</div> -->

<!-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda veritatis reiciendis corporis ducimus provident amet eveniet odit tempora voluptatum deleniti, nulla tenetur consequuntur. Beatae itaque consequuntur officiis laborum, quisquam vero! -->

<!-- <div class="card">
    <div *ngFor="let blog for blogs">
        <div class="card-header">
            {{ blog.title }}
        </div>
        <div class="card-body">
            <div class="card-text">
            {{ blog.description }}
            </div>
        </div>
        <div class="card-footer">
            <button (click)="ondeletePost()">Delete</button>
            <button>Edit</button>
        </div>
    </div>
</div> -->


<div class="card">
    <div>
        <div class="card-header">
            <h1>First blog</h1>
        </div>
        <div class="card-body">
            <div class="card-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda veritatis reiciendis corporis ducimus provident amet eveniet odit tempora voluptatum deleniti, nulla tenetur consequuntur. Beatae itaque consequuntur officiis laborum, quisquam vero!</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="right">
                <button (click)="ondeletePost()">Delete</button>
                <button (click)="oneditPost(1)">Edit</button>
            </div>
        </div>
    </div>
</div>